body {

font-family: Arial, sans-serif;
background-color: #f4f6f8;
margin: 0;
padding: 40px;
text-align: center;

}

h1 {

text-align: center;

}

form {

display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-bottom: 20px;

}

input[type="text"] {

width: 300px;
padding: 8px;
border-radius: 5px;
border: 1px solid #ccc;

}

button {

padding: 8px 12px;
cursor: pointer;
border: none;
background-color: #1e73d8;
color: white;
border-radius: 5px;

}

button:hover {

background-color: #155ab6;

}

.filtro {

display: flex;
justify-content: center;
margin-bottom: 20px;

}

ul {

list-style: none;
padding: 0;
max-width: 600px;
margin: auto;

}

li {

display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border-bottom: 1px solid #ddd;
max-width: 600px;
margin: auto;

}

li span {

flex: 1;
text-align: center;

}

.completed {
text-decoration: line-through;
color: gray;
}